body
{
    /*background-color: purple;*/
    font-family: montserrat;

    height: 100%;
}

h1
{
    font-size: 1.5em;
    font-weight: 400;

    margin: 0;
    padding: 2% 3%;

    text-transform: uppercase;

    color: white;
}
span
{
    display: inline-block;

    width: 0;
    height: 40px;
    margin-right: 20px;

    transition: width .5s cubic-bezier(.2,1,.97,.89);
    transition: .2s;
    text-align: center;

    opacity: 0;
    color: white;
    background-color: tomato;
}

li
{
    line-height: 40px;

    height: 40px;

    color: #666;
    background-color: #fff;
}

li:nth-child(2n)
{
    background-color: #f7f7f7;
}



li:hover span
{
    width: 40px;

    opacity: 1.0;
}

input
{
    font-size: 18px;

    box-sizing: border-box;
    width: 100%;
    padding: 13px 13px 13px 20px;

    color: rebeccapurple;
    border: 3px solid rgba(0,0,0,0);
    background-color: #f7f7f7;
}

input:focus
{
    padding-top: 1.05em;

    transition: border, padding .5s;

    border: 3px solid tomato;
    outline: none;
    background: #fff;
}


.fa-plus
{
    float: right;
}

ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.header
{
    background-image: linear-gradient(135deg, tomato, 40%, rebeccapurple);
}

#container
{
    width: 360px;
    margin: 100px auto;

    background-color: #f7f7f7;
	-moz-box-shadow: 9px 10px 71px -5px rgba(0,0,0,0.21);
	box-shadow: 9px 10px 71px -5px rgba(0,0,0,0.21);
	transition:.3s;
}

#container:hover{
	background-color: #f7f7f7;
	-moz-box-shadow: 9px 10px 71px -5px rgba(0,0,0,0.41);
	box-shadow: 9px 10px 71px -5px rgba(0,0,0,0.41);
}

.completed
{
    text-decoration: line-through;

    color: gray;
}
